*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --box-color: #EEC0C6;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto';
}

body{
    line-height: 1.5;
    /* max-width: 1200px; */
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

nav div {
    font-size: 2.4rem;
}

.hamburger-menu {
    max-height: 4rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 4em;
}

li {
    font-size: 2.4rem;
    cursor: pointer;
}

h1 {
    /* font-size: calc(1rem + 5vw); */
    font-size: 7.2rem;
    line-height: 1.2;
}


.hero-wrapper {
    background-color: #ACBEA3;
    
}

.hero {
    max-width: 1200px;
    display: flex;
    padding: 6rem 4rem;
    align-items: center;
    margin: 0 auto;
}

.hero-text {
    flex: 1;
}

.hero-text p {
    font-size: 2.4rem;
    max-width: 40.8rem;
    margin-top: 1.4rem;
}

.cta-btn {
    background-color: #826754;
    max-width: 24rem;
    width: 20vw;
    height: auto;
    padding: 8px;
    margin-top: 4.8rem;
    text-align: center;
    color: white;
    max-width: 26rem;
    font-size: 2.4rem;
    border-radius: 0.8rem;
}

.hero-img-container {
    flex: 1;
    text-align: end;
}

.hero-img-container img {
    width: auto;
    height: auto;
    max-height: 500px;
    margin-left: 2rem;
}

.box {
    position: relative;
}
.box-top {
    max-width: 80%;
    background-color: var(--box-color);
    margin: 0 auto;
    text-align: center;
}

.box-top h2 {
    font-size: 3.6rem;
    text-align: center;
    padding-top: 2vw;
}

#tea0:hover, #tea1:hover, #tea2:hover, #tea0:hover+#str0, #tea1:hover+#str1, #tea2:hover+#str2, #tea0:hover~#teabag-txt0, #tea1:hover~#teabag-txt1, #tea2:hover~#teabag-txt2 {
    transform: translateY(-225px);
}

#str0, #str1, #str2, #teabag-txt0, #teabag-txt1, #teabag-txt2  {
    pointer-events: none;
}

.teabags-container {
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 16rem;
    gap: 6rem;
}

.teabag-container {
    position: relative;
}

.teabag-container > img {
    max-width: 28rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -4rem;
    margin-left: 19rem;
    z-index: 6;
}

.teabag-container > div > img {
    max-width: 40rem;
    max-height: 70rem;
}

.teabag-txt {
    font-size: 3rem;
    color: black;
    position: absolute;
    top: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 20rem;
}

.watermark {
    display: inline-block;
    z-index: 1;
    font-family: 'Ribeye Marrow';
    text-align: center;
    font-size: 8rem;
    color: #FFA1AE;
    margin-top: 7.6rem;
}

.box-bot {
    content: "";
    display: inline-block;
    background-color: var(--box-color);
    width: 100%;
    height: 40em;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.customers {
    background-color: #ACBEA3;
    z-index: 7;
}

.customers-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 4rem;
}

figure {
    text-align: center;
    margin: 4rem;
}

figcaption {
    font-size: 3.5rem;
}

.fig-left {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin: 2rem;
}

.fig-right {
    display: flex;
    direction: rtl;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    border-radius: 2rem;
    margin: 2rem;
}

.fig-content {
    direction: ltr;
    font-size: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
}

.customers > :nth-child(2){
    margin-top: 8rem;
}

.customer-img-container {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    overflow: hidden;
}
.customer-img {
    max-width: 300px;
    display: block;
    object-position: 0rem -8rem;
}

.horizontal-scroll-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.horizontal-scroller {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
}

.horizontal-scroller > figure > img {
    max-width: 30rem;
    max-height: 30rem;
}

.warning {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    background-color: lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > div > div {
    font-size: 2.4rem;
}

.address-name {
    font-family: "Ribeye";
    font-size: 3rem;
    font-weight: bold;
}

 .follow-us {
    text-align: center;
}

.follow-us-imgs > img {
    margin: 2rem;
    width: 4.8rem;
}

@media (max-width: 1440px) {
    .teabag-container > img {
        max-width: 20rem;
        height: auto;
        position: absolute;
        margin-top: -3rem;
        margin-left: 15rem;
    }
    .box-top {
        margin: 0 12rem
    }
    .box-bot {
        height: 33em;
    }
    .teabag-container > div > img {
        max-width: 48rem;
        max-height: 46rem;
    }
    
    .teabag-txt {
        font-size: 2rem;
        top: -10;
        margin: -50 0 0 0;
    }
    /* .teabags-container {
        justify-content: space-around;
        gap: 20rem;
        margin-left: 0rem;
    } */

    /* .teabag-container {
        max-width: 40rem;
        display: flex;
    } */
}


@media (min-width: 992px) and (max-width: 1230px){
    html {
        font-size: 9px;
    }
    .teabag-container > div > img {
        max-width: 30rem;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .hero img {
        max-height: 66rem;
        width: auto;
    }
    .teabags-container {
        gap: 3rem;
    }
    html {
        font-size: 7px;
    }
}

@media (min-width: 768px)  {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 6px;
    }
    nav ul{
        display: none;
    }
    /* .hero img {
        max-height: 280px;
    }
    .cta-btn {
        max-width: 22rem;
        padding: 6px;
        margin-top: 4rem;
    }*/
    .teabags-container {
        gap: 2rem;
    }
}

@media (max-width: 520px) {
    /* html {
        font-size: 2px;
    } */
}